.navContainer{
  background-color: white;
  padding: 1rem;
}

.navElements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navElements h1{
  font-size: larger;
  font-weight: 600;
}

.navElements input{
  padding-inline: 8px;
  border-radius: 0.5rem;
  border-width: thin;
  height: 2rem;
}

.dashboardContainer{
  background-color: rgb(243, 243, 248);
}

.widgetsContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media only screen and (max-width: 600px){
  .widgetsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .widget{
    width: 100%;
  }
}

.categoryContainer{
  padding: 1rem;
}

.categoryContainer h2{
  font-size: large;
  font-weight: 600;
}

.widget{
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  max-width: 15rem;
  min-width: 12rem;
}

.widget h3{
  font-size: medium;
  font-weight: 600;
  margin: 0
}

.widget p{
  font-size: small;
  font-weight: 400;
}

.widget img{
  width: 10rem;
  margin-top: 1rem;
}

.widget button{
  padding: 0.5rem;
  border-width: thin;
  border-radius: 0.5rem;
  border: blue;
  font-size: small;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(rgb(12, 12, 149),rgb(17, 17, 197));
}

.addWidgetForm{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  gap: 0.5rem;
  border-radius: 0.5rem;
  max-width: 15rem;
}

.addWidgetForm input{
  padding: 0.5rem;
  border-width: thin;
  border-radius: 0.5rem;
}

.addWidgetForm button{
  padding: 0.5rem;
  border-width: thin;
  border-radius: 0.5rem;
  border: blue;
  font-size: small;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(rgb(12, 12, 149),rgb(17, 17, 197));
}
